.btn {
    padding: .375rem .75rem; 
    border-radius: .25rem;   
    font-size: 1rem;         
    line-height: 1.5;       
    text-align: center;       
    vertical-align: middle;  
    display: inline-block;  
    width: auto;            
    user-select: none;     
    transition: color .15s ease-in-out, background-color .15s ease-in-out,
                border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;   
}

.btn-secondary, .btn-primary {
    text-decoration: none; 
    display: inline-block;
}

#menu-list {
    display: block;
    overflow-y: auto;
    max-height: 400px; 
}
#menu-list thead, #menu-list tbody tr {
    display: table;
    width: 100%; 
    table-layout: fixed;
}
#menu-list thead {
    width: calc(100% - 1em); 
}

::-webkit-scrollbar {
    width: 12px; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}