
body {
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 0;
}

h1, h5 {
    text-align: center;
    color: #007bff;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}


.input-group {
    display: flex;
    align-items: center;
}

.input-group button {
    width: 40px;
    height: 38px;
    color: #007bff;
    border: 1px solid #007bff;
    background-color: white;
    cursor: pointer;
}

.input-group input {
    text-align: center;
    margin: 0 5px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-end {
    margin-top: 20px;
    text-align: right;
}

.text-end a, .text-end button {
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.text-end button {
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

.text-end a {
    background-color: #6c757d;
    display: inline-block;
}

.text-end a:hover, .text-end button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .input-group button {
        width: 35px;
        height: 35px;
    }

    h1, h5 {
        font-size: 16px;
    }

    .text-end a, .text-end button {
        padding: 8px 16px;
    }
}
