body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
body {
  font-size: 30px; /* 或其他你希望的大小 */
}
h2 {
    font-size: 50px; /* 标题字体大小 */
}

form input, form button {
    font-size: 24px; /* 表单输入和按钮的字体大小 */
}

a {
    font-size: 24px; /* 链接的字体大小 */
}