{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理後臺</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    <h1>管理後臺</h1>
    <input type="text" name="search_keyword" placeholder="請輸入餐廳名稱">
    <div>餐廳列表</div>
    <ul id="restaurant-list">
        {% for restaurant in restaurants %}
            <li>
                <a href="{% url 'order_menu' restaurant.id %}">{{ restaurant.name }}</a>
                <p>餐廳編號 {{restaurant.id}}</p>
                <p>地點 {{restaurant.space_id}}</p>
                <p>聯絡電話 {{restaurant.phone_number}}</p>
                <p>Line ID {{restaurant.line_id}}</p>
                <p>菜單 {{restaurant.menu_list}}</p>
                <p>訂單 {{restaurant.orders}}</p>
                <p>建立時間 {{restaurant.created_at}}</p>
                <button class="delete-btn" data-id="{{ restaurant.id }}">删除餐廳</button>
                <button class="update-btn" data-id="{{ restaurant.id }}"><a href="{% url 'add_menu_list' restaurant.id %}" class="btn update-btn">修改菜單</a></button>
            </li>
        {% endfor %}
        <div><button class="delete-btn delete-all-btn">删除所有餐廳</button></div>
    </ul>
    <script>
    $(document).ready(function(){

        $('input[name="search_keyword"]').on('input', function() {
            var inputVal = $(this).val();
            $.ajax({
                url: '{% url "search_restaurants" %}',
                data: {
                    'term': inputVal
                },
                dataType: 'json',
                success: function(data) {
                    var newList = $('<ul>');
                    $.each(data, function(index, item) {
                        newList.append($('<li>').append($('<a>').attr('href', '/order_menu/' + item.id).text(item.label)));
                    });
                    $('#restaurant-list').html(newList);
                },
                error: function() {
                    $('#restaurant-list').html('<ul><li>搜索錯誤，請重試。</li></ul>');
                }
            });
            if (inputVal.length === 0) {
                $('#restaurant-list').empty();
            }
        });

       
        $('.delete-btn').click(function() {
            let restaurant_id = $(this).data('id'); 
            if (confirm('要刪除餐廳？')) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "delete_restaurant" %}',
                    data: {
                        'restaurant_id': restaurant_id,
                        'csrfmiddlewaretoken': $('#csrfToken').val() 
                    },
                    success: function(data) {
                        alert('刪除餐聽成功');
                        location.reload();  
                    },
                    error: function(xhr, status, error) {
                        alert('删除失败，请重试');
                    }
                });
            }
        });

        $('.delete-all-btn').click(function() {
            let restaurant_id = $(this).data('id'); 
            if (confirm('確定要刪除所有餐廳？刪除後無法再做復原')) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "delete_all_restaurants" %}',
                    data: {
                        'csrfmiddlewaretoken': $('#csrfToken').val() 
                    },
                    success: function(data) {
                        alert('刪除所有餐聽成功');
                        location.reload();  
                    },
                    error: function(xhr, status, error) {
                        alert('删除失败');
                    }
                });
            }
        });

    });
    </script>
</body>
</html>
