<!DOCTYPE html>
<html lang="zh-Hant">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>網頁標題</title>
<link rel="stylesheet" href="./static/css/style.css" chart-set="UTF-8">
</head>
<body>
  <header class="header">
    <div class="left_header">
      <div class="header_content" id="logo">Logo</div>
      <div class="header_content" id="title">勤益點餐系統</div>
    </div>
    <div class="right_header">
      <div class="header_content" id="avatar"><img alt="頭像"></img></div>
      <div class="header_content"><a href="#">基本資料</a></div>
      <div class="header_content">|</div>
      <div class="header_content"><a href="#">登出</a></div>
    </div>
  </header>
  <div class="nav">
    <ul class="nav_content order_fnc">
      <li class="order_fnc_column" id="order_manu"><a href="#">我要訂餐</a></li>
      <li class="order_fnc_column" id="histroy_order"><a href="#">歷史訂單</a></li>
    </ul>
  </div>
  <div class="nav">
    <ul class="nav_content order_step">
      <li class="order_step_column" id="order_step_1"><a>1. 選擇餐廳</a></li>
      <li class="order_step_column" id="order_step_2"><a>2. 選擇餐點及數量</a></li>
      <li class="order_step_column" id="order_step_3"><a>3. 確認訂單</a></li>
      <li class="order_step_column" id="order_step_4"><a>4. 完成訂單</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="content">
      </form>
      <p>此區為三番街 及其周邊 地圖</p>
      <p>(點選餐廳後可進入菜單 )</p>
    </div>
  </div>
</body>
</html>
