{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>選擇餐廳</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <h1>選擇餐廳</h1>
    <input type="text" name="search_keyword" placeholder="請輸入餐廳名稱">
    <div>餐廳列表</div>
    <a href="{% url 'company_list'  %}">處室清單</a>
    <ul id="restaurant-list">
        {% for restaurant in restaurants %}
            <li>
                <a href="{% url 'order_menu' restaurant.id %}">{{ restaurant.name }}</a>
                <div>餐廳編號： {{restaurant.id}}</div>
                <div>地點： {{restaurant.space_id}}</div>
                <div>聯絡電話： {{restaurant.phone_number}}</div>
                <div>Line ID {{restaurant.line_id}}</div>
                <div>菜單 {{restaurant.menu_list}}</div>
                <div>訂單 {{restaurant.orders}}</div>
                <div>建立時間 {{restaurant.created_at}}</div>
            </li>
        {% endfor %}
    </ul>
    <script>
    $(document).ready(function(){
        $('input[name="search_keyword"]').on('input', function() {
            var inputVal = $(this).val();
            $.ajax({
                url: '{% url "search_restaurants" %}',
                data: {
                    'term': inputVal
                },
                dataType: 'json',
                success: function(data) {
                    var newList = $('<ul>');
                    $.each(data, function(index, item) {
                        newList.append($('<li>').append($('<a>').attr('href', '/order_menu/' + item.id).text(item.label)));
                    });
                    $('#restaurant-list').html(newList);
                },
                error: function() {
                    $('#restaurant-list').html('<ul><li>搜索錯誤，請重試。</li></ul>');
                }
            });
            if (inputVal.length === 0) {
                $('#restaurant-list').empty();
            }
        });
    });
    </script>
</body>
</html>
