{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單列表</title>
    <link rel="stylesheet" href="{% static 'css/order_manage.css' %}">
</head>
<body>
    <h1>訂單列表</h1>
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    <div>
        <select id="restaurantFilter">
            <option value="">選擇餐廳</option>
            {% for restaurant in restaurants %}
                <option value="{{ restaurant.name }}">{{ restaurant.name }}</option>
            {% endfor %}
        </select>
        <button onclick="filterOrders()">篩選</button>
    </div>
    <p><a class="btn add-btn" href="{% url 'admin_home'  %}">回到管理後臺</a></p>
     
    <ul id="restaurant-list">
    {% for order in orders %}
        <div>
            <li><p>訂單內容：</p>
                {% for item in order.items %}
                {% if item.amount != 0 %}
                <p class="restaurant-name">餐廳名稱：{{ order.restaurant_name }}</p>
                <a>餐點單價：{{ item.price }}</a>
                <a>餐點數量：{{ item.amount }}</a>
                <a>餐點分類：{{ item.tag }}</a>
                <a>餐點備註：{{ item.note }}</a>
                <p></p>
                {% endif %}
                {% endfor %} 
            
                <p>會員名稱：{{ order.member_name }}</p>
                <p>訂單價格：{{ order.order_value }}</p>
                <p>餐廳名稱：{{ order.restaurant_name }}</p>
                <p>訂單狀態：{{ order.status }}</p>
                <p>建立時間：{{ order.created_at }}</p>
                {% if order.status != 'completed' %}
                    <a class="btn complete-btn" data-id="{{ order.id }}">已完成</a>
                {% endif %}
                <a class="btn delete-btn" data-id="{{ order.id }}">删除訂單</a>
            </li>
        </div>
        {% endfor %} 
    </ul>
    <a href="{% url 'home' %}">回到點餐主頁</a>
    <div><button class="delete-btn delete-all-btn">删除所有訂單</button></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.delete-btn').click(function() {
                let order_id = $(this).data('id'); 
                if (confirm('要刪除訂單？')) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url "delete_order" %}',
                        data: {
                            'order_id':  order_id,
                            'csrfmiddlewaretoken': $('#csrfToken').val() 
                        },
                        success: function(data) {
                            alert('刪除訂單成功');
                            location.reload();  
                        },
                        error: function(xhr, status, error) {
                            alert('删除失败，请重试');
                        }
                    });
                }
            });

    
            $('.delete-all-btn').click(function() {
                if (confirm('確定要刪除所有訂單？刪除後無法再做復原')) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url "delete_all_orders" %}',
                        data: {
                            'csrfmiddlewaretoken': $('#csrfToken').val() 
                        },
                        success: function(data) {
                            alert('刪除所有訂單成功');
                            location.reload();  
                        },
                        error: function(xhr, status, error) {
                            alert('删除失败');
                        }
                    });
                }
            });
    
            $('.complete-btn').click(function() {
                let orderId = $(this).data('id');
                $.ajax({
                    type: 'POST',
                    url: '{% url "complete_order" %}',  // 确保您有一个对应的URL和视图处理这个请求
                    data: {
                        'order_id': orderId,
                        'csrfmiddlewaretoken': $('#csrfToken').val()
                    },
                    success: function(data) {
                        alert('订单已标记为完成');
                        location.reload();  // 刷新页面以更新状态显示
                    },
                    error: function(xhr, status, error) {
                        alert('操作失败，请重试');
                    }
                });
            });


        });
        function filterOrders() {
            var selectedRestaurant = document.getElementById('restaurantFilter').value;
            var divs = document.querySelectorAll('#restaurant-list > div');
            divs.forEach(function(div) {
                var restaurantName = Array.from(div.querySelectorAll('p')).find(p => p.textContent.includes('餐廳名稱'));
                if (restaurantName && (restaurantName.textContent.includes(selectedRestaurant) || selectedRestaurant === '')) {
                    div.style.display = '';
                } else {
                    div.style.display = 'none';
                }
            });
        }
        </script>
</body>
</html>
